<!DOCTYPE html>
<html>
<head>
	<title>Admin Dashboard</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="./styles.css">
</head>
<body>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-12">
				<h1>Admin Dashboard</h1>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-add" data-toggle="modal" data-target="#addProductModal">Add New Product</a>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Product Name</th>
							<th>Description</th>
							<th>Price</th>
							<th>Image</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
                    <tr th:each="product : ${productList}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.getName}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.price}"></td>
                        <td><img th:height="100px" th:width="100px" th:src="@{${product.imageURL}}"></td>
							<td>
								<!-- <a href="#" class="btn btn-primary btn-edit">Edit</a> -->
                                <!-- Button trigger edit modal -->
<!--                                <a th:href="@{/edit-product/${product.id}}" class="btn btn-primary btn-edit" data-toggle="modal" data-target="#editProductModal">Edit</a>-->
                                <a th:action="@{edit-product/{id} (id=${productDTO.id})}" class="btn btn-primary btn-edit" data-toggle="modal" data-target="#editProductModal">Edit</a>
                                <a th:href="@{delete/{id}(id=${product.id})}" class="btn btn-danger btn-delete" >Delete</a>
							</td>
						</tr>
                    </td>
                    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

    <!-- Edit Product Modal -->
<!--<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--            <h5 class="modal-title" id="editProductModalLabel"><a th:action="@{'edit-product/' + ${productDTO.id}}">Edit Product</a></h5>-->
<!--            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--            <form th:action="@{'/save-edited-product/' + ${productDTO.id}}" th:object="${productDTO}" method="POST" enctype="multipart/form-data">-->

<!--&lt;!&ndash;            <form th:action="@{'/save-edited-product/' + ${productDTO.id}}" th:object="${productDTO}" method="POST" enctype="multipart/form-data">&ndash;&gt;-->
<!--                <input type="hidden" th:field="*{id}" th:value="${productDTO.id}"/>-->
<!--                <div class="form-group">-->
<!--                    <label for="name">Name</label>-->
<!--                    <input type="text" class="form-control" id="name" th:field="*{name}" required>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="description">Description</label>-->
<!--                    <textarea class="form-control" id="description" rows="3" th:field="*{description}" required></textarea>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="description">Category</label>-->
<!--                    <textarea class="form-control" id="category" rows="3" th:field="*{category}" required></textarea>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="price">Price</label>-->
<!--                    <input type="number" class="form-control" id="price" th:field="*{price}" required>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="productImage">Image</label>-->
<!--                    <input type="file" class="form-control-file" name="productImage">-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<!--                    <button type="submit" class="btn btn-primary" id="saveEditProduct">Save Changes</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- Add Product Button -->
<!-- <a href="#" data-toggle="modal" data-target="#addProductModal">Add Product</a> -->

<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/save-product}" method="post" enctype="multipart/form-data" th:object="${productDTO}">
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input th:field="${productDTO.name}" type="text" class="form-control" id="productName" placeholder="Enter product name">
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Product Description</label>
                        <textarea th:field="${productDTO.description}" class="form-control" id="productDescription" rows="3" placeholder="Enter product description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="productCategory">Product Category</label>
                        <textarea th:field="${productDTO.category}" class="form-control" id="productCategory" rows="3" placeholder="Enter product category" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Price</label>
                        <input th:field="${productDTO.price}" type="text" class="form-control" id="productPrice" placeholder="Enter product price">
                    </div>
                    <div class="form-group">
                        <label for="productImage">Image</label>
                        <input th:name="productImage" type="file" class="form-control" id="productImage" placeholder="Enter product image URL">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="saveAddProduct">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>