<!DOCTYPE html>
<html>
<head>
	<title>Product Details</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="./styles.css">
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Brand</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			  <li class="nav-item active">
				<a class="nav-link" href="index.html">Home</a>
			  </li>
			</ul>
		  </div>
		</nav>
	  </div>
	  

	<div class="container mt-5">
		<div class="row">
			<div class="col-md-6">
				<img src="https://via.placeholder.com/400x300.png?text=Product+Image" alt="Product Image" class="product-img">
			</div>
			<div class="col-md-6">
				<h1 class="product-title">Product Name</h1>
				<p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed erat at eros pulvinar efficitur.</p>
				<p class="product-price">$29.99</p>
				<button class="btn btn-primary product-add-to-cart">Add to Cart</button>
			</div>
		</div>
	</div>

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
